/* global styles  */

* {
    box-sizing: border-box;
    line-height: 1.6em;
    color: black;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.important {
    display: none !important;
}


/* Body styles  */

.wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
}

.modalbox {
    background: transparent;
    height: 80vh;
    width: 80vw;
    margin: 10% auto;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-close {
    position: fixed;
    font-size: 2em;
    color: black;
}

.modal-close:hover {
    cursor: pointer;
}

.modalImg {
    width: 100%;
    height: 90%;
}

.altTxt {
    text-align: center;
    margin: 5px;
    color: white;
}

.address {
    font-size: 1.2em;
    text-align: center;
    padding: 5px;
}

.address:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 35;
    left: 0;
    height: 70vh;
    width: 100%;
    background: rgba(0, 0, 0, 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    font-size: 3em;
    color: white;
}

.overlay h2 {
    font-size: 2.2em;
    color: white;
}

a.call-us-numbers {
    margin-top: 20%;
    color: white;
    border: 1px solid white;
    padding: 5px 40px;
    font-size: 1.5em;
    border-radius: 32px;
}

a.call-us-numbes:hover {
    cursor: pointer;
}

.numbers {
    margin-top: 2%;
    opacity: 0;
    transition: ease-in 0.3s;
}

.show-numbers {
    opacity: 1;
    transition: ease-in 0.3s;
}

.numbers a {
    color: white;
}

.number1 {
    color: white;
    display: block;
}

.number2 {
    color: white;
    display: inline-block
}

header {
    margin: 0 auto;
    width: 100vw;
    height: 70vh;
}

header img {
    height: 100%;
    width: 100%;
}

#open {
    display: none;
}

#close {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
    font-size: 1.5em;
}

.nav {
    background: linear-gradient(to right, lightgray, white, lightgray);
    border-bottom: 1px solid black;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav li {
    padding: 1% 0;
    display: inline;
}

.nav li:hover {
    cursor: pointer;
    background: rgba(180, 180, 180, 0.9);
}

.nav a {
    color: black;
}

.nav .why-us {
    color: red;
}

.services {
    padding-top: 20px;
    width: 90%;
    font-size: 1.2em;
    background: white;
    max-width: 700px;
}

.services h2 {
    text-align: center;
}

.services-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    padding-top: 20px;
    max-width: 1000px;
}

.services-wrapper img {
    width: 40%;
    align-self: center;
    margin: 0 auto;
    margin-top: 10px;
}

.services-wrapper p {
    display: block;
    align-self: center;
}

.left {
    opacity: 0;
    transform: translateX(-100px);
}

.right {
    opacity: 0;
    transform: translateX(100px);
}

.why-section {
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
    background: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.why-section h2, .why-section p {
    color: white;
    padding: 0 10px;
}

.why-section p {
    margin-bottom: 2em;
    color: white;
    padding: 0 10px;
}

.gallery-pics {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    grid-gap: 5px;
    max-width: 700px;
}

picture {
    margin: 0;
    padding: 0;
}

.gallery img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    transform: translateY(-100px);
    opacity: 0;
}

.contact-us {
    background: white;
    text-align: center;
    margin: 0 15px;
}

.contact-us h2 {
    font-size: 2em;
}

.contact-us li {
    display: inline;
}

.icon {
    font-size: 2em;
    cursor: pointer;
    display: inline;
    margin: 25px 20px;
}

.icon:hover {
    transform: translatey(-5px);
    color: gray;
}

.contact-us h3 {
    display: inline;
    margin: 5px 15px;
}

.newsLetter {
    display: inline;
    margin: 20px 5px;
}

.newsLetterBtn {
    margin: 20px 5px;
    width: 100px;
}

i.fas.fa-phone-alt {
    display: none;
}

.contact-1 A,
.contact-2 A {
    display: inline;
    color: blue;
}

@media screen and (max-width: 1000px) {
    header {
        height: 100vh
    }
    .overlay {
        height: 100vh;
    }
    .overlay a {
        margin-top: 2em;
    }
    .overlay h1 {
        margin-top: 1em;
        text-align: center;
    }
    nav {
        display: block;
        width: 40vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -40vw;
        z-index: 101;
        opacity: 90%;
        transition: ease-in-out 0.4s;
        text-align: center;
    }
    .nav {
        background: lightgrey;
        width: 100%;
        height: 100%;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        height: 100%;
    }
    .nav li {
        display: block;
        margin: .5em 0;
    }
    .move {
        transform: translateX(40vw);
        -webkit-transform: translateX(40vw);
    }
    #open {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 1.5em;
        color: black;
        z-index: 102;
    }
    #close {
        display: none;
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 2em;
        color: black;
        z-index: 102;
    }
    .rotate {
        transition: ease .7s;
        transform: rotate(360deg);
    }
    .gallery-pics img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .address {
        font-size: .9em;
    }
    header {
        height: 70vh;
    }
    .overlay {
        height: 70vh;
    }
    .overlay h1 {
        margin: 5% 2% 0 2%;
        color: white;
        font-size: 1.4em
    }
    .overlay h2 {
        color: white;
        font-size: 1.2em;
    }
    .overlay label {
        border: 2px solid white;
        font-size: 1.5em;
        color: white;
        padding: 5px 40px;
        border-radius: 32px;
        display: inline-block;
        text-align: center;
    }
    .modalbox {
        height: 50vh;
        width: 90vw;
        margin: 50% auto;
    }
    nav {
        display: block;
        width: 40vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -40vw;
        z-index: 101;
        opacity: 90%;
        transition: ease-in-out 0.4s;
        text-align: center;
    }
    .nav {
        background: lightgrey;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .nav li {
        display: block;
    }
    .move {
        transform: translateX(40vw);
        -webkit-transform: translateX(40vw);
    }
    #open {
        display: block;
        position: fixed;
        top: 5px;
        left: 10px;
        font-size: 1.5em;
        color: black;
        z-index: 102;
    }
    #close {
        display: none;
        position: fixed;
        top: 5px;
        left: 10px;
        font-size: 2em;
        color: black;
        z-index: 102;
    }
    .rotate {
        transition: ease .7s;
        transform: rotate(360deg);
    }
  
    .gallery-pics {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 30vh);
        grid-gap: 10px;
        padding-bottom: 10px
    }
    .gallery-pics img {
        height: 95%;
        width: 100%;
    }
    .contact-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .phone-number {
        display: none;
    }
    i.fas.fa-phone-alt {
        display: block;
    }
}