           * {
           box-sizing: border-box;
           line-height: 1.6em;
           color: black;
           margin: 0;
           padding: 0;
           scroll-behavior: smooth;
           font-family: sans-serif;
           max-width: 1400PX;
       }
       
       a {
           text-decoration: none;
       }
       
       .wrapper {
           margin: 0 auto;
           background: white;
           display: flex;
           flex-direction: column;
           max-width: 1400px;
       }
       
       .modal {
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background: rgba(0, 0, 0, 0.8);
           z-index: 100;
           display: none;
       }
       
       .modalbox {
           background: lightgray;
           height: 80vh;
           width: 80vw;
           margin: 10% auto;
       }
       
       .modalImg {
           width: 100%;
           height: 100%;
       }

       .address {
           text-align: center;
           padding: 5px;
       }

       .address:hover {
           cursor: pointer;
       }
       
       header {
           background: url('../img/front of shop.jpeg') no-repeat;
           background-size: 100% 100%;
           height: 100vh;
       }
       
       #close {          
           display: none;
       }
       
       #open {
           display: none;
       }

       nav {
        position: sticky;
        top: 0;
        z-index: 999;
       }
       
       .nav {
           background: white;
           height: 75px;
           display: flex;
           align-items: center;
           justify-content: space-around;
       }
       
       .nav ul {
           text-align: center;
       }
       
       .nav li {
           display: inline;
           padding: 10px;
           margin: 0 30px;
           font-size: 1.3em;
       }
       
       .nav li:hover {
           cursor: pointer;
           background: rgba(180, 180, 180, 0.9);
       }
       
       .nav a {
           color: black;
       }
       
       .nav .why-us {
           color: red;
       }
       
       .services {
           min-height: 500px;
           font-size: 1.2em;
           background-size: 100% 100%;
           background-position: center;
           background: url('../img/engine.jpeg') center center/cover;
       }
       
       .paper {
           margin-top: 25px;
           margin-left: 50px;
           box-shadow: 15px 15px 30px black;
           width: 60%;
           background: rgba(255, 255, 255, 0.9);
           min-height: 300px;
           border-radius: 2%;
       }
       
       .paper hr {
           width: 70%;
           border: 1px solid black;
           margin-left: 10px;
           margin-bottom: 20px;
       }
       
       .services h2 {
           text-align: center;
           margin-top: 10px;
       }
       
       .services p {
           text-align: center;
           margin: 0 10px;
       }
       .services ol {
           padding-bottom: 10px;
       }
       
       .services li {
           margin-left: 35px;
       }
       .swiper-wrapper {
           height: 30vh;
           z-index: 1;
       }
       .swiper-container {
           width: 100%;
           height: 100%;
           
       } 
       .swiper-slide {
           text-align: center;
           font-size: 18px;
           background: white;
           display: -webkit-box;
           display: -ms-flexbox;
           display: -webkit-flex;
           display: flex;
           flex-direction: column;
           -webkit-box-pack: center;
           -ms-flex-pack: center;
           -webkit-justify-content: center;
           justify-content: center;
           -webkit-box-align: center;
           -ms-flex-align: center;
           -webkit-align-items: center;
           align-items: center;
           margin-top: 20px;
           margin-bottom: 25px;
           z-index: 1;
       }
       
       .swiper-slide h2 {
           color: black;
       }
       
       .swiper-slide p {
           margin: 0 30px;
           color: black;
           font-size: 1em;
       }
       
       .swiper-button-prev {
           color: black !important;
       }
       
       .swiper-button-next {
           color: black !important;
       }
       
       .swiper-pagination-bullets {
           color: black !important;
       }
       
       .gallery {
           padding: 0 10px;
           background: white;
       }
       
       .gallery h2 {
           font-size: 3em;
           padding-top: 25px;
           text-align: center;
       }
       
       .gallery-pics {
           display: grid;
           grid-template-rows: repeat(6, 40vh);
           grid-gap: 10px;
           object-fit: cover;
           padding-bottom: 10px
       }
       
       .gallery-pics img {
           height: 100%;
           width: 100%;
           cursor: pointer;
       }
       /* .gallery-pics img:nth-of-type(1) {
grid-column: 1/3;
}

.gallery-pics img:nth-of-type(2) {
grid-column: 3/7;
}

.gallery-pics img:nth-of-type(3) {
grid-column: 1/4;
}

.gallery-pics img:nth-of-type(4) {
grid-column: 4/7;
}

.gallery-pics img:nth-of-type(5) {
grid-column: 1/5;
}

.gallery-pics img:nth-of-type(6) {
grid-column: 5/7;
}

.gallery-pics img:nth-of-type(7) {
grid-column: 1/3;
}

.gallery-pics img:nth-of-type(8) {
grid-column: 3/7;
} */
       
       .contact-us {
           background: white;
           text-align: center;
           height: auto;
       }
       
       .contact-us h2 {
           font-size: 2em;
       }
       
       .contact-us li {
           display: inline;
       }
       
       .icon {
           font-size: 2em;
           cursor: pointer;
           display: inline;
           margin: 25px 20px;
       }
       
       .icon:hover {
           transform: translatey(-5px);
           color: gray;
       }
       
       .contact-us h3 {
           display: inline;
           margin: 5px 15px;
       }
       
       .newsLetter {
           display: inline;
           margin: 20px 5px;
       }
       
       .newsLetterBtn {
           margin: 20px 5px;
           width: 100px;
       }
       
       @media screen and (max-width: 500px) {
           header {
               background-size: 100% 100%;
               height: 50vh;
           }
           nav {
               display: block;
               width: 40vw;
               height: 100%;
               position: fixed;
               top: 0;
               left: -40vw;
               z-index: 101;
               opacity: 90%;
               blur: 24px;
               transition: ease-in-out 0.7s;
           }
           .nav {
               background: lightgray;
               height: 100%;
               width: 100%;
               margin: 0;
               padding: 0;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
           }
           .move {
               transform: translateX(40vw);
               -webkit-transform: translateX(40vw);
               transition: ease-in-out, 0.5s;
               -webkit-transition: ease-in-out 0.5s;
           }
           #open {
               display: block;
               position: fixed;
               top: 75px;
               left: 15px;
               font-size: 1.3em;
               color: black;
               z-index: 100;
           }
           #close {
               display: block;
               position: absolute;
               top: 15px;
               left: 15px;
               font-size: 1.3em;
               color: black;
           }
           .nav li {
               display: block;
               font-size: 1.3em;
               border: none;
               margin-top: 40px;
               color: black;
           }
           .paper {
               width: 80vw;
               margin: 20px auto;
           }
           .swiper-button-prev {
               display: none !important;
           }
           .swiper-button-next {
               display: none !important;
           }
           /* .gallery-pics img:nth-of-type(1) {
grid-column: 1/3;
}
.gallery-pics img:nth-of-type(2) {
grid-column: 3/7;
}
.gallery-pics img:nth-of-type(3) {
grid-column: 1/4;
}
.gallery-pics img:nth-of-type(4) {
grid-column: 4/7;
}
.gallery-pics img:nth-of-type(5) {
grid-column: 1/5;
}
.gallery-pics img:nth-of-type(6) {
grid-column: 5/7;
}
.gallery-pics img:nth-of-type(7) {
grid-column: 1/3;
}
.gallery-pics img:nth-of-type(8) {
grid-column: 3/7;
} */
           .modal {
               position: fixed;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: rgba(0, 0, 0, 0.5);
               z-index: 100;
               display: none;
           }
           .modalbox {
               background: lightgray;
               height: 50vh;
               width: 90vw;
               margin: 25% auto;
           }
           .contact-us {
               height: auto;
           }
           .contact-us ul {
               display: grid;
               grid-template-columns: repeat(3, 1fr);
               margin: 10px auto;
               width: 75vw;
           }
           .contact-us h3 {
               display: block;
               margin: 10px 10px;
               padding: 0 10px:
           }
           .newsLetter {
               display: inline;
               margin: 0 5px;
               vertical-align: center;
           }
           .newsLetterBtn {
               display: inline;
               margin: 10px auto;
               padding: 5px;
               font-size: 1em;
           }